[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"
flask-restx = "*"
werkzeug = "==2.1.2"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.8"
